### Quandl experimentation

In [96]:
import pandas as pd
import numpy as np
import quandl
from datetime import datetime, timedelta
import json

In [2]:
# quandl authentication

quandl.ApiConfig.api_key = "jUKZLy5xi7gGFf3sSF-r"

In [ ]:
quandl.get()

In [11]:
# explore Quantcha US Equity Historical & Option Implied Volatilities

vols_sample = quandl.get('VOL/MSFT', start_date='2019-03-29', end_date='2019-03-29')
vols_sample

,Hv10,Hv20,Hv30,Hv60,Hv90,Hv120,Hv150,Hv180,Phv10,Phv20,...,IvMean360,IvMeanSkew360,IvCall720,IvPut720,IvMean720,IvMeanSkew720,IvCall1080,IvPut1080,IvMean1080,IvMeanSkew1080
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-29,0.2451,0.1834,0.1733,0.1804,0.2281,0.2927,0.2983,0.3202,0.1879,0.1649,...,0.2212,0.0217,0.2021,0.2647,0.2334,0.0039,0.2021,0.2647,0.2334,0.0039

In [18]:
# create list of column names

col_names = list(vols_sample.columns)

In [20]:
# create dictionary of column numbers corresponding to column headings

col_name_index = {name:idx+1 for idx, name in enumerate(col_names)}

In [21]:
col_name_index

{'Hv10': 1,
 'Hv20': 2,
 'Hv30': 3,
 'Hv60': 4,
 'Hv90': 5,
 'Hv120': 6,
 'Hv150': 7,
 'Hv180': 8,
 'Phv10': 9,
 'Phv20': 10,
 'Phv30': 11,
 'Phv60': 12,
 'Phv90': 13,
 'Phv120': 14,
 'Phv150': 15,
 'Phv180': 16,
 'IvCall10': 17,
 'IvPut10': 18,
 'IvMean10': 19,
 'IvMeanSkew10': 20,
 'IvCall20': 21,
 'IvPut20': 22,
 'IvMean20': 23,
 'IvMeanSkew20': 24,
 'IvCall30': 25,
 'IvPut30': 26,
 'IvMean30': 27,
 'IvMeanSkew30': 28,
 'IvCall60': 29,
 'IvPut60': 30,
 'IvMean60': 31,
 'IvMeanSkew60': 32,
 'IvCall90': 33,
 'IvPut90': 34,
 'IvMean90': 35,
 'IvMeanSkew90': 36,
 'IvCall120': 37,
 'IvPut120': 38,
 'IvMean120': 39,
 'IvMeanSkew120': 40,
 'IvCall150': 41,
 'IvPut150': 42,
 'IvMean150': 43,
 'IvMeanSkew150': 44,
 'IvCall180': 45,
 'IvPut180': 46,
 'IvMean180': 47,
 'IvMeanSkew180': 48,
 'IvCall270': 49,
 'IvPut270': 50,
 'IvMean270': 51,
 'IvMeanSkew270': 52,
 'IvCall360': 53,
 'IvPut360': 54,
 'IvMean360': 55,
 'IvMeanSkew360': 56,
 'IvCall720': 57,
 'IvPut720': 58,
 'IvMean720': 59,
 'IvMeanSkew720': 60,
 'IvCall1080': 61,
 'IvPut1080': 62,
 'IvMean1080': 63,
 'IvMeanSkew1080': 64}

In [98]:
# create json of column name:index pairs for Quantcha Volatility data

with open('vol_col_names.json', 'w') as fp:
    json.dump(col_name_index, fp)

In [23]:
# get one year of 90 day realized vols

quandl.get('VOL/MSFT', start_date='2018-03-29', end_date='2019-03-29', column_index='5')

              Hv90
Date
2018-03-29  0.3189
2018-04-02  0.3252
2018-04-03  0.3261
2018-04-04  0.3309
2018-04-05  0.3305
2018-04-06  0.3333
2018-04-09  0.3335
2018-04-10  0.3366
2018-04-11  0.3373
2018-04-12  0.3391
2018-04-13  0.3378
2018-04-16  0.3371
2018-04-17  0.3371
2018-04-18  0.3371
2018-04-19  0.3372
2018-04-20  0.3364
2018-04-23  0.3364
2018-04-24  0.3400
2018-04-25  0.3403
2018-04-26  0.3409
2018-04-27  0.3424
2018-04-30  0.3451
2018-05-01  0.3430
2018-05-02  0.3442
2018-05-03  0.3400
2018-05-04  0.3293
2018-05-07  0.3217
2018-05-08  0.3193
2018-05-09  0.3003
2018-05-10  0.2923
...            ...
2019-02-15  0.3434
2019-02-19  0.3406
2019-02-20  0.3403
2019-02-21  0.3354
2019-02-22  0.3311
2019-02-25  0.3303
2019-02-26  0.3305
2019-02-27  0.3244
2019-02-28  0.3242
2019-03-01  0.3160
2019-03-04  0.3155
2019-03-05  0.3155
2019-03-06  0.3147
2019-03-07  0.3087
2019-03-08  0.3085
2019-03-11  0.2994
2019-03-12  0.2954
2019-03-13  0.2952
2019-03-14  0.2951
2019-03-15  0.2958
2019-03-18  0.2893
2019-03-19  0.2818
2019-03-20  0.2814
2019-03-21  0.2843
2019-03-22  0.2864
2019-03-25  0.2772
2019-03-26  0.2610
2019-03-27  0.2289
2019-03-28  0.2288
2019-03-29  0.2281

[252 rows x 1 columns]

In [100]:
# load dictionary of column_name:column_index pairs for Quantcha Volatility data

with open('data/vol_col_names.json') as json_data:
    vol_col_names = json.load(json_data)

In [92]:
# create a helper function for relative date comparisons

def vol_delta(ticker, date, look_back_days):
    """Provides the 90D stock volatility for the date relative to the date implied by the look back days
    argument. For consistent results, utilize a look_back_days window that is a multiple of 7.
    Output is based on the formula: <current volatility> / <previous volatility>
    Package dependencies: datetime, timedelta
    """
    
    date = datetime.strptime(date, '%Y-%m-%d')
    
    lookback_date = date - timedelta(days=int(look_back_days))
        
    date = str(date)
    date = date[0:10]
    
    lookback_date = str(lookback_date)
    lookback_date = lookback_date[0:10]
    
      
    curr_vol = quandl.get('VOL/'+ticker, start_date=date, end_date=date, column_index='5')
    
    prior_vol = quandl.get('VOL/'+ticker, start_date=lookback_date, end_date=lookback_date, column_index='5')
    
    
    
    output = curr_vol.values / prior_vol.values
    return float(output)

In [105]:
# create a generalized measure delta function

def measure_delta(ticker, date, look_back_days, measure='Hv90'):
    """Provides a relative comparison for a given stock ticker and date, based on an arbitrary look_back_window,
    for any of 64 data itmes from the Quantcha Historical and Implied Volatility API.
    
    INPUTS: 'Ticker', 'YYYY-MM-DD', lookback days (as integer), and measure name.
    For reference, measure names are contained in the dictionary: vol_col_names
    ***NOTE: For best results, utilize a lookback window that is a multiple of 7 days from the given date.
    
    OUPUT: A float, based on the forumla: <measure at date> / <measure at date - lookback days>
    """
    
    date = datetime.strptime(date, '%Y-%m-%d')
    
    lookback_date = date - timedelta(days=int(look_back_days))
        
    date = str(date)
    date = date[0:10]
    
    lookback_date = str(lookback_date)
    lookback_date = lookback_date[0:10]
    
      
    curr_vol = (quandl.get('VOL/'+ticker,
                           start_date=date,
                           end_date=date, 
                           column_index=vol_col_names.get(measure)))
                
    
    prior_vol = (quandl.get('VOL/'+ticker,
                            start_date=lookback_date,
                            end_date=lookback_date,
                            column_index=vol_col_names.get(measure)))
    
    
    
    output = curr_vol.values / prior_vol.values
    return float(output)

In [88]:
# create sample function for doing vol comparisons

def vol_delta_90d(ticker, old_date, new_date):
    """Provides the 90D stock volatility for the new date relative to the prior date as a float,
    based on the formula <current volatility> / <previous volatility>"""
    prior_vol = quandl.get('VOL/'+ticker, start_date=old_date, end_date=old_date, column_index='5')
    curr_vol = quandl.get('VOL/'+ticker, start_date=new_date, end_date=new_date, column_index='5')
    output = curr_vol.values / prior_vol.values
    return float(output[0])

In [107]:
measure_delta('MSFT', "2019-03-29", 84, measure='IvMeanSkew30')

0.901595744680851

In [40]:
vol_delta_90d("MSFT", "2019-01-02", "2019-03-29")

0.5853220425968694

In [41]:
example = quandl.get('VOL/MSFT', start_date='2018-03-29', end_date='2019-03-29', column_index='5')

In [42]:
type(example)

pandas.core.frame.DataFrame

In [43]:
example.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2018-03-29 to 2019-03-29
Data columns (total 1 columns):
Hv90    252 non-null float64
dtypes: float64(1)
memory usage: 3.9 KB